
@using Web.Models
@{
    ViewBag.Title = "VerActividadesXsocio";
}

<h2>Historal de Actividades</h2>

@(Html.Kendo().Grid<Web.Models.SocioXActividad>()
    .Name("tablaSocioXActividad") 
    .Columns(columns =>
    {
        columns.Bound(p => p.Actividad.nombre);
        columns.Bound(p => p.Actividad.tipoActividad.nombre);
        columns.Bound(p => p.estado);
        //columns.Bound(p => p.Actividad.fechaInicio).Width(70).Format("{0:dd/MM/yyyy}");
        //columns.Bound(p => p.Actividad.fechaFin).Width(70).Format("{0:dd/MM/yyyy}");
        columns.Command(c => c.Custom("Cancelar").Click("CancelarSocio")).Width(100);                         
                                    
        
    })
    .Selectable()
    .Sortable()
    .Pageable()
    .Editable(editable => { editable.Mode(GridEditMode.InLine); editable.DisplayDeleteConfirmation("El regitro será eliminado ¿Desea continuar?"); })
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
            )
    )
    .DataSource(datasource => datasource
        .Ajax()
           .Read(read => read.Action("LeerActividadxSocio", "Actividad",@Model))
               .Model(model => model.Id(p => p.idSocio))
              
        
    )
)



 <script type="text/javascript">

     function CancelarSocio(e) {
         if (confirm("Este registro será eliminado ¿Desea continuar?"))
         {
        e.preventDefault();
        var grid = $('#tablaSocioXActividad').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.Socio.persona.id;
        var idAct = dataItem.Actividad.id;
        $.ajax({
            url: '@Url.Action("CancelarInscripcion")',
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: { 
                strIdSocio: JSON.stringify(id),
                strIdActividad: JSON.stringify(idAct)
            },
            success: function () { 
                window.location=window.location;
            },
            error: function () {  
                window.location=window.location; 
            },
            timeout: 20000
        });
        }
    }

  </script>
